@media only screen and (max-width: 770px){
    .nav_link{
        display: none;
    }
    .cat{
        display: none;
    }
    .main_head{
        text-align: center;
        line-height: 30px;
    }  
    .child{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        text-align: center; 
    }
    .child :nth-child(1){
        border: none;
        border-radius: 5px;
        padding: 22px;
    }
    .child :nth-child(2){
        border: none;
        border-radius: 5px;
        padding: 22px;
    }
    .child :nth-child(3){
        border: none;
        border-radius: 5px;
        padding: 22px;
    }
    .child :nth-child(4){
        border: none;
        border-radius: 5px;
        padding: 22px;
    }
    .end{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 90vw;
        margin-left: 5vw;
        margin-top: 15px;
        margin-bottom: 15px;
        grid-gap: 10px;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .end :nth-child(1){
        background-image: linear-gradient(to right, #85F4FF,#B8FFF9);
        padding: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .end :nth-child(2){
        background-image: linear-gradient(to left, #85F4FF,#B8FFF9);
        padding: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .sit1{
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 5vw;
        margin-right: 5vw;
        line-height: normal;
        padding-left: 0px;
        width: 90vw;
        height: 43vh;
        max-height: auto;
        border: none;
    }
    .sit1 h2{
        text-align: center;
    }
    .sit1 p{
        margin-left: 5vw;
        padding-top: 20px;
        width: 80vw;
        text-align: center;
        border: none;
    }
    .flex-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        position: relative;
        top: -70px;
    }
    .main1{
        background-color:  rgb(218, 253, 253);
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 5px;
        padding: 5px;
        width: 80vw;
        height: 250px;
        text-align: center;
    }
    .main2{
        background-color:  rgb(218, 253, 253);
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 5px;
        padding: 5px;
        width: 80vw;
        height: 250px;
        text-align: center;
    }
    .main3{
        background-color:  rgb(218, 253, 253);
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 5px;
        padding: 5px;
        width: 80vw;
        height: 250px;
        text-align: center;
    }
    .main4{
        background-color:  rgb(218, 253, 253);
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 5px;
        padding: 5px;
        width: 80vw;
        height: 250px;
        text-align: center;
    }
    .main1 p{
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .main2 p{
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .main3 p{
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .main4 p{
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin: 20px 6.5%;
        position: relative;
        top: -20px;
    }
    .one {
        grid-column: 1 / 4 ;
        grid-row: 1 / 2;
        background-color: #a668f1;
        padding-bottom: 40px;
    }
    .one h2{
        display: flex;
        justify-content: center;
        margin: 10px;
        color: aliceblue;
    }
    .one p{
        padding-left: 15px;
        padding-right: 15px;
        color: aliceblue;
        line-height: 20px;
        text-align: center;
    }
    .one-img{
        display: none;
    }
    .two {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        background-color: rgb(248, 248, 248);
        max-height: 346px;
        padding-bottom: 10px;
    }
    .two h2{
        margin: 10px;
        display: flex;
        justify-content: center;
    }
    .two p{
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .two .two-btn{
        background-color: rgb(236, 236, 236);
        margin: 10px 15px;
        padding: 5px 9px;
        transition: all 2s ease 30ms;
        border: black 1px solid;
        border-radius: 2px;
    }
    .three {
        grid-column: 1 / 4;
        grid-row: 2 ;
        background-color: rgb(56, 56, 56);
        border: none;
        border-radius: 2px;
        padding-bottom: 10px;
    }
    .three h4 {
        display: flex;
        justify-content: center;
        padding: 15px 0px;
        color: aliceblue;
    }
    .four {
        grid-column: 1 / 4;
        grid-row: 3 ;
        background-color: rgb(234, 234, 234);
        border: none;
        border-radius: 2px;
        padding-bottom: 10px;
    }
    .four h4 {
        display: flex;
        justify-content: center;
        padding: 15px 0px;
        color: black;
    }
    .end-footer{
        padding-top: 20px;
        border-top: 2px  #FFD124 solid;
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin-top: 20vw;
        margin-left: 5.5%;
        margin-right: 5.5%;
        position: relative;
        top: -70px;
    }
    .box1{
        background-color: #f0f0f0;
        padding-bottom: 5px;
    }
    .box1 h3{
        padding: 3px 1px;
        text-align: center;
    }
    .box2{
        background-color: #f0f0f0;
        padding-bottom: 1px;
    }
    .box2 h3{
        padding: 3px 1px;
        text-align: center;
    }
    .box3{
        background-color: #f0f0f0;
        padding-bottom: 5px;
    }
    .box3 h3{
        padding: 3px 1px;
        text-align: center;
    }
    .box1 ul li {
        padding: 5px 10px;
        list-style: none;
        cursor: pointer;
        transition: all 1s ease 30ms;
    }
    .box2 ul li {
        padding: 5px 20px;
        list-style: none;
        cursor: pointer;
        transition: all 1s ease 30ms;
    }
    .box3 ul li {
        padding: 5px 10px;
        list-style: none;
        cursor: pointer;
        transition: all 1s ease 30ms;
    }
}